<section class="container">
  <div class="row">
    <div class="col-sm-1 bg">
    </div>
    
    <div class="col-sm-10 bg">
      <h5>画像Ｎｏ<%= @type_id %>－<%= @id %></h5>
      <p>曼荼羅とイラストは１枚５万円のお値段にになっています、購入希望の方はメールにて受け付けています、塗り絵は無料です右クリックして保存でダウンロードできます。</p>
      <% if @type == "mandara" %>
      <a href="/">
      <% else %>
      <a href="/<%= @type %>">
      <% end %>
        <img src="/img/<%= @type %>/<%= @image_id %>.png" class="card-img-top fluid" alt="曼荼羅画像">
      </a>
    </div>

    <div class="col-sm-1 bg">
    </div>
  </div>
</section>
