<div class="wrap">
  <div class="box-bg"></div>
  <div class="box-content">
    <header>
      <div class="content-heder">
        <h1 >大宇宙インセンスご注文</h1>
        <img src="imges/higakousuke_3_1.jpg" class="profile_1">
        <p class="p">
          大宇宙インセンスの発注に関しましては<br>
          リアライズコミュニケーションにて<br>
          全て管理しております<br>
          初回購入の方は住所が必要ですので<br>
          以下のフォームよりお願いいたします
        </p>
      </div>
    </header>
    <div class="main">
      <div class="contact-form">
        <form action="order_send" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <h3 class="section-title">大宇宙インセンスご注文</h3>

          <% if not @error_messages.nil? and @error_messages.size > 0 %>
            <ul class="contact-error-message">
              <% @error_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
  
          <p class="contact-content">お名前（必須）</p>
            <input name="name" type="text" value="<%= @name %>">
          <p class="contact-content">メールアドレス（必須）</p>
            <input name="email" type="text" value="<%= @email %>">
          <p class="contact-content">郵便番号（必須）</p>
            <input name="postal_code" type="text" value="<%= @postal_code %>">
          <p class="contact-content">住所（必須）</p>
            <input name="address" type="text" value="<%= @address %>">
          <p class="contact-content">携帯電話（必須）</p>
            <input name="tel" type="text" value="<%= @tel %>">
          <p class="contact-content">商品（必須）</p>
            <label>
              <input name="product" type="radio" value="1" class="radio">大宇宙インセンス香炭&香灰セット　沖縄で手渡し 1,300円
            </label>
            <br>
            <label>
              <input name="product" type="radio" value="2" class="radio">大宇宙インセンス香炭&香灰セット　発送希望　1,580円
            </label>
          <p class="contact-content">お問い合わせ内容</p>
            <textarea name="message"><%= @message %></textarea>
          <p class="contact-content" >※必須項目は必ずご入力ください</p>
            <input class="contact-submit" type="submit" value="送信">
        </form>
      </div>
    </div>
  </div><!-- box-content -->
</div><!-- wrap -->
<div class="box-footer">
  <footer id="footer">
    <div class="footer">
      <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
        <div class="footer-list">
          <ul>
            <li class="botan"><a href="index">トップ</a></li>
            <li class="botan"><a href="conference">会議</a></li>
            <li class="botan"><a href="incense">お香</a></li>
            <li class="botan"><a href="counseling">セッション</a></li>
            <li class="botan"><a href="oracle">占い</a></li>
            <li class="botan"><a href="video">動画</a></li>
            <li class="botan"><a href="question">質問</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div><!-- box-footer -->

