<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="曼荼羅素材と曼荼羅塗り絵の素材のページです">
  
  <title>曼荼羅素材</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" type="text/css" href="base.css">
</head>
<body>
  <div class="headr">
  <div class="headr-title">
    <img src="img/title.jpg">
  </div>
  <div class="headr-list">
  <ul>
    <li class="botan"><a href="/">曼荼羅素材</a></li>
    <li class="botan"><a href="painting">曼荼羅塗り絵素材</a></li>
    <li class="botan"><a href="work">他の作品集</a></li>
    <li class="botan"><a href="profile">プロフィール</a></li>
  </ul>
  </div>
  </div> <!-- head -->

  <%= yield %>
  
  <div class="footer">
  <div class="footer-logo">
    <a href="profile.html">洲鎌直喜</a>
  </div>
  <div class="footer-list">
  <ul>
    <li class="botan"><a href="/">曼荼羅素材</a></li>
    <li class="botan"><a href="painting">曼荼羅塗り絵素材</a></li>
    <li class="botan"><a href="work">他の作品集</a></li>
    <li class="botan"><a href="profile">プロフィール</a></li>
  </ul>
  </div>
  </div><!-- footer -->
</body>
</html>
